.Card{
    width: 300px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(177, 214, 238);
    padding: 10px;
    text-align: center;
    border-radius: 2px solid black;
}